$var1: #5c6772;
$var2: #ffffff;
.burger {
    position: fixed;
    z-index: 60;
    left: 80px;
    top: 50px;
    width: 42px;
    height: 80px;
    cursor: pointer;
    @media (max-width: 991px) {
        left: 55px
    }
    @media (max-width:767px) {
        left: 35px;
        top: 35px
    }
    &__text {
        position: absolute;
        bottom: 0;
        font-size: 14px;
        font-weight: 300px;
        letter-spacing: 1.4px;
        color: $var1;
    }
    &__side {
        position: absolute;
        width: 28px;
        height: 5px;
        transform: rotate(-45deg);
        overflow: hidden;
        animation: side-1;
        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $var2;
        }
        &:after {
            transform: translate(-100%, 10%);
        }
        &-top {
            top: 14px;
            left: 0;
        }
        &-bottom {
            top: 28px;
            right: 0;
        }
    }
    &-center {
        position: absolute;
        top: 21px;
        left: -7.5px;
        width: 56px;
        height: 5px;
        transform: rotate(-45deg);
        overflow: hidden;
        animation: center-1;
        .helper,
        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: $var2;
        }
        .helper {
            transform: translate(115%, 10%);
        }
        &:before {
            transform: translate(115%, 10%);
        }
        &:after {
            transform: translate(-15%, 10%);
        }
    }
}

@keyframes side-1 {
    from {
        transform: translate(0, 0)
    }
    to {
        transform: translate(-140%, 10%)
    }
}

@keyframes side-2 {
    from {
        transform: translate(140%, 10%)
    }
    to {
        transform: translate(0, 0)
    }
}

@keyframes center-1 {
    from {
        transform: translate(115%, 10%)
    }
    to {
        transform: translate(-15%, 10%)
    }
}

@keyframes center-2 {
    from {
        -webkit-transform: translate(-15%, 10%);
        transform: translate(-15%, 10%)
    }
    to {
        -webkit-transform: translate(-145%, 10%);
        transform: translate(-145%, 10%)
    }
}

@keyframes center-3 {
    from {
        transform: translate(245%, 10%)
    }
    to {
        transform: translate(115%, 10%)
    }
}

.burger:hover .burger__side:before {
    animation: side-1 linear infinite .4s
}

.burger:hover .burger__side:after {
    animation: side-2 linear infinite .4s
}

.burger:hover .burger-center:before {
    animation: center-1 linear infinite .4s
}

.burger:hover .burger-center:after {
    animation: center-2 linear infinite .4s
}

.burger:hover .helper {
    animation: center-3 linear infinite .4s
}