*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.close {
display: flex;
 font-size: 20px;
padding-left: 400px ;
  color: red;
    opacity: 0.3;
    }
    .close:hover {
    opacity: 1;
    }
    .close:before {
        content:  " x ";
        height: 20px;
        width: 10px;
        color: red;
        }



.user{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 40px;
    border: 1px solid;
  
}
.user:hover{
    border-color:blue;
    background-color:violet;
    width: 100%;
}

 .active{
     align-items: center;
     width: 100%;
    border-color:blue;
    background-color:violet ;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  
}
.user h2 {
    font-weight: bold;
    color: blue;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.user h3 {
    color: cadetblue;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.disabled:disabled{
    background: #ccc;
    width: 520px;
    padding: 0;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
