.postsBlock {
    padding: 10px;
}

.posts {
    font-family: 'Baloo 2', cursive;
    margin-top: 10px;
}
.button{
    margin-top: 15px;
    background-color: rgb(216, 74, 173);
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border: none;
}