*{
    outline: none;
    margin: 0;
    padding: 0;
   
}

.high{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    cursor: pointer;
}
.high__link{
    margin-right: 20px;
    cursor: pointer;
    font-size: 14px;
  
}
.high__link:hover{
    color: gray;
  
}
.high__profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    cursor: pointer;
    background-color: rgb(153, 17, 17);
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
}
.high__icon svg{
    color: rgb(172, 159, 159);
}
.high__icon svg:hover{
    color:black
}
.content{  
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.content__img{
    padding-top: 109px;
    height: 120px;
    max-width: 272px;

}
.content-b{
    display: flex;
    justify-content: center;
    padding-top: 18px;
    top: 53px;
    z-index: 0;
    width: 487px;
}
.content__input{
    background-color: transparent;
    border: none;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
   color: black;
    height: 34px;
    font-size: 16px;
}
.input-wrap{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
   
}
.content__button{
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.content__button:hover{
    color: black;
    border: 1px black solid;
}
.content-wrapper{
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 584px
}
.content-wrapper-wr{
    flex: 1;
    display: flex;
    padding: 5px 8px 14px 16px;

    
}
.icon{
    margin-top: 9px;
    color: #9AA0A6;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
}
.icon svg{
    display: block;
    height: 100%;
    width: 100%;
}
.icon-wrap{
    display: flex;
    align-items: center;
    padding-right: 13px;
}
.icon-sound{
    width: 24px;
    justify-content: flex-end;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    padding: 0 8px;
  
    line-height: 44px;
}
.icon-sound svg{
 height: 24px;
max-width: 24px;
vertical-align: middle;
}
.content__lang{
    margin-top: 20px;
}
.lang__link{
    text-decoration: none;
    margin-right: 10px;
}
.lang__link:hover{
    text-decoration: underline; 
}